:root{
    --light : lightgray;
    --dark-blue:teal;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
.cap{
    margin-bottom: 20px;
    font-size: large;
}
table{
    width: 60%;
    border-collapse:collapse;
    margin-top: 200px;
    margin-left: 200px;
    border: 2px solid var(--light)
}
 th , td {
    border: 1px solid white;
     padding: 10px 15px;
}

 th {
    border-bottom: 2px solid var(--dark-blue);
}
th , td{
    padding: 1%;
}
 tr:nth-child(1){
    background-color: var(--dark-blue);
 }
  tr:nth-child(3) , tr:nth-child(5){
    background-color: var(--light);

 }
